@{
    ViewData["Title"] = "Home Page";
}



<br/>
<img src="/images/header.jpg" class="img-responsive" alt="Responsive image">
<br />
@* This is our search toolbar for searching food type and city *@
<div class="container">
    <div class="row">
        <form method="get" action="/" class="form-inline">
            <input name="location" class="form-control" type="text" placeholder="Location: City, State, Zip">
            <input name="food" class="form-control" type="text" placeholder="Keywords: Burgers, Beer, Tacos">
            <button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-search"></i></button>
        </form>     
    </div>
</div>